{
    "sharing": "{{ cufflinks_config_sharing }}",
    "colorscale": "{{ cufflinks_config_colorscale }}",
    "offline_link_text": "{{ cufflinks_config_offline_link_text }}",
    "theme": "{{ cufflinks_config_theme }}",
    "offline_show_link": "{{ cufflinks_config_offline_show_link }}",
    "offline_url": "{{ cufflinks_config_offline_url }}",
    "offline": "{{ cufflinks_config_offline }}",
    "datagen_mode": "{{ cufflinks_config_datagen_mode }}"
}
