dconf write /org/gnome/shell/extensions/gtile/preset-resize-1        "['{{ linux_hotkeys_gtile_resize_1               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-2        "['{{ linux_hotkeys_gtile_resize_2               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-3        "['{{ linux_hotkeys_gtile_resize_3               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-4        "['{{ linux_hotkeys_gtile_resize_4               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-5        "['{{ linux_hotkeys_gtile_resize_5               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-6        "['{{ linux_hotkeys_gtile_resize_6               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-7        "['{{ linux_hotkeys_gtile_resize_7               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-8        "['{{ linux_hotkeys_gtile_resize_8               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-9        "['{{ linux_hotkeys_gtile_resize_9               | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-10       "['{{ linux_hotkeys_gtile_resize_10              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-11       "['{{ linux_hotkeys_gtile_resize_11              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-12       "['{{ linux_hotkeys_gtile_resize_12              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-13       "['{{ linux_hotkeys_gtile_resize_13              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-14       "['{{ linux_hotkeys_gtile_resize_14              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-15       "['{{ linux_hotkeys_gtile_resize_15              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-16       "['{{ linux_hotkeys_gtile_resize_16              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-17       "['{{ linux_hotkeys_gtile_resize_17              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-18       "['{{ linux_hotkeys_gtile_resize_18              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-19       "['{{ linux_hotkeys_gtile_resize_19              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-20       "['{{ linux_hotkeys_gtile_resize_20              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-21       "['{{ linux_hotkeys_gtile_resize_21              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-22       "['{{ linux_hotkeys_gtile_resize_22              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-23       "['{{ linux_hotkeys_gtile_resize_23              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-24       "['{{ linux_hotkeys_gtile_resize_24              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-25       "['{{ linux_hotkeys_gtile_resize_25              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-26       "['{{ linux_hotkeys_gtile_resize_26              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-27       "['{{ linux_hotkeys_gtile_resize_27              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-28       "['{{ linux_hotkeys_gtile_resize_28              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-29       "['{{ linux_hotkeys_gtile_resize_29              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/preset-resize-30       "['{{ linux_hotkeys_gtile_resize_30              | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-change-tiling   "['{{ linux_hotkeys_gtile_action_change_tiling   | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-contract-bottom "['{{ linux_hotkeys_gtile_action_contract_bottom | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-contract-left   "['{{ linux_hotkeys_gtile_action_contract_left   | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-contract-right  "['{{ linux_hotkeys_gtile_action_contract_right  | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-contract-top    "['{{ linux_hotkeys_gtile_action_contract_top    | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-expand-bottom   "['{{ linux_hotkeys_gtile_action_expand_bottom   | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-expand-left     "['{{ linux_hotkeys_gtile_action_expand_left     | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-expand-right    "['{{ linux_hotkeys_gtile_action_expand_right    | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-expand-top      "['{{ linux_hotkeys_gtile_action_expand_top      | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-move-down       "['{{ linux_hotkeys_gtile_action_move_down       | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-move-left       "['{{ linux_hotkeys_gtile_action_move_left       | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-move-right      "['{{ linux_hotkeys_gtile_action_move_right      | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/action-move-up         "['{{ linux_hotkeys_gtile_action_move_up         | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-1             "['{{ linux_hotkeys_gtile_autotile_1             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-10            "['{{ linux_hotkeys_gtile_autotile_10            | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-2             "['{{ linux_hotkeys_gtile_autotile_2             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-3             "['{{ linux_hotkeys_gtile_autotile_3             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-4             "['{{ linux_hotkeys_gtile_autotile_4             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-5             "['{{ linux_hotkeys_gtile_autotile_5             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-6             "['{{ linux_hotkeys_gtile_autotile_6             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-7             "['{{ linux_hotkeys_gtile_autotile_7             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-8             "['{{ linux_hotkeys_gtile_autotile_8             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-9             "['{{ linux_hotkeys_gtile_autotile_9             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/autotile-main          "['{{ linux_hotkeys_gtile_autotile_main          | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/cancel-tiling          "['{{ linux_hotkeys_gtile_cancel_tiling          | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/change-grid-size       "['{{ linux_hotkeys_gtile_change_grid_size       | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/move-down-vi           "['{{ linux_hotkeys_gtile_move_down_vi           | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/move-left-vi           "['{{ linux_hotkeys_gtile_move_left_vi           | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/move-right-vi          "['{{ linux_hotkeys_gtile_move_right_vi          | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/move-up-vi             "['{{ linux_hotkeys_gtile_move_up_vi             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/resize-down-vi         "['{{ linux_hotkeys_gtile_resize_down_vi         | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/resize-left-vi         "['{{ linux_hotkeys_gtile_resize_left_vi         | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/resize-right-vi        "['{{ linux_hotkeys_gtile_resize_right_vi        | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/resize-up-vi           "['{{ linux_hotkeys_gtile_resize_up_vi           | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/set-tiling             "['{{ linux_hotkeys_gtile_set_tiling             | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/show-toggle-tiling     "['{{ linux_hotkeys_gtile_show_toggle_tiling     | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/show-toggle-tiling-alt "['{{ linux_hotkeys_gtile_show_toggle_tiling_alt | the_new_flesh.dev_roles.to_hotkeys }}']";
dconf write /org/gnome/shell/extensions/gtile/snap-to-neighbors      "['{{ linux_hotkeys_gtile_snap_to_neighbors      | the_new_flesh.dev_roles.to_hotkeys }}']";
