{% if konsole_background is defined %}
[Background]
Color={{ konsole_background }}
{% endif %}

{% if konsole_background_intense is defined %}
[BackgroundIntense]
Color={{ konsole_background_intense }}
{% endif %}

{% if konsole_color_0 is defined %}
[Color0]
Color={{ konsole_color_0 }}
{% endif %}

{% if konsole_color_0_intense is defined %}
[Color0Intense]
Color={{ konsole_color_0_intense }}
{% endif %}

{% if konsole_color_1 is defined %}
[Color1]
Color={{ konsole_color_1 }}
{% endif %}

{% if konsole_color_1_intense is defined %}
[Color1Intense]
Color={{ konsole_color_1_intense }}
{% endif %}

{% if konsole_color_2 is defined %}
[Color2]
Color={{ konsole_color_2 }}
{% endif %}

{% if konsole_color_2_intense is defined %}
[Color2Intense]
Color={{ konsole_color_2_intense }}
{% endif %}

{% if konsole_color_3 is defined %}
[Color3]
Color={{ konsole_color_3 }}
{% endif %}

{% if konsole_color_3_intense is defined %}
[Color3Intense]
Color={{ konsole_color_3_intense }}
{% endif %}

{% if konsole_color_4 is defined %}
[Color4]
Color={{ konsole_color_4 }}
{% endif %}

{% if konsole_color_4_intense is defined %}
[Color4Intense]
Color={{ konsole_color_4_intense }}
{% endif %}

{% if konsole_color_5 is defined %}
[Color5]
Color={{ konsole_color_5 }}
{% endif %}

{% if konsole_color_5_intense is defined %}
[Color5Intense]
Color={{ konsole_color_5_intense }}
{% endif %}

{% if konsole_color_6 is defined %}
[Color6]
Color={{ konsole_color_6 }}
{% endif %}

{% if konsole_color_6_intense is defined %}
[Color6Intense]
Color={{ konsole_color_6_intense }}
{% endif %}

{% if konsole_color_7 is defined %}
[Color7]
Color={{ konsole_color_7 }}
{% endif %}

{% if konsole_color_7_intense is defined %}
[Color7Intense]
Color={{ konsole_color_7_intense }}
{% endif %}

{% if konsole_foreground is defined %}
[Foreground]
Color={{ konsole_foreground }}
{% endif %}

{% if konsole_foreground_intense is defined %}
[ForegroundIntense]
Color={{ konsole_foreground_intense }}
{% endif %}

[General]
{% if konsole_color_scheme_name is defined %}
Description={{ konsole_color_scheme_name }}
{% endif %}
{% if konsole_opacity is defined %}
Opacity={{ konsole_opacity }}
{% endif %}
