<!DOCTYPE kpartgui>
<kpartgui version="10" name="konsole">
 <ActionProperties scheme="dev">
{% if konsole_key_new_tab != '' %}
  <Action shortcut="{{ konsole_key_new_tab }}" name="new-tab"/>
{% endif %}
{% if konsole_key_new_window != '' %}
  <Action shortcut="{{ konsole_key_new_window }}" name="new-window"/>
{% endif %}
{% if konsole_key_close_session != '' %}
  <Action shortcut="{{ konsole_key_close_session }}" name="close-session"/>
{% endif %}
{% if konsole_key_edit_copy != '' %}
  <Action shortcut="{{ konsole_key_edit_copy }}" name="edit_copy"/>
{% endif %}
{% if konsole_key_edit_paste != '' %}
  <Action shortcut="{{ konsole_key_edit_paste }}" name="edit_paste"/>
{% endif %}
{% if konsole_key_select_all != '' %}
  <Action shortcut="{{ konsole_key_select_all }}" name="select-all"/>
{% endif %}
{% if konsole_key_clear_history_and_reset != '' %}
  <Action shortcut="{{ konsole_key_clear_history_and_reset }}" name="clear-history-and-reset"/>
{% endif %}
{% if konsole_key_edit_find != '' %}
  <Action shortcut="{{ konsole_key_edit_find }}" name="edit_find"/>
{% endif %}
{% if konsole_key_sigint_signal != '' %}
  <Action shortcut="{{ konsole_key_sigint_signal }}" name="sigint-signal"/>
{% endif %}
{% if konsole_key_sigkill_signal != '' %}
  <Action shortcut="{{ konsole_key_sigkill_signal }}" name="sigkill-signal"/>
{% endif %}
{% if konsole_key_open_browser != '' %}
  <Action shortcut="{{ konsole_key_open_browser }}" name="open-browser"/>
{% endif %}
{% if konsole_key_paste_selection != '' %}
  <Action shortcut="{{ konsole_key_paste_selection }}" name="paste-selection"/>
{% endif %}
{% if konsole_key_select_line != '' %}
  <Action shortcut="{{ konsole_key_select_line }}" name="select-line"/>
{% endif %}
{% if konsole_key_file_save_as != '' %}
  <Action shortcut="{{ konsole_key_file_save_as }}" name="file_save_as"/>
{% endif %}
{% if konsole_key_file_print != '' %}
  <Action shortcut="{{ konsole_key_file_print }}" name="file_print"/>
{% endif %}
{% if konsole_key_adjust_history != '' %}
  <Action shortcut="{{ konsole_key_adjust_history }}" name="adjust-history"/>
{% endif %}
{% if konsole_key_clear_history != '' %}
  <Action shortcut="{{ konsole_key_clear_history }}" name="clear-history"/>
{% endif %}
{% if konsole_key_edit_current_profile != '' %}
  <Action shortcut="{{ konsole_key_edit_current_profile }}" name="edit-current-profile"/>
{% endif %}
{% if konsole_key_edit_find_next != '' %}
  <Action shortcut="{{ konsole_key_edit_find_next }}" name="edit_find_next"/>
{% endif %}
{% if konsole_key_edit_find_prev != '' %}
  <Action shortcut="{{ konsole_key_edit_find_prev }}" name="edit_find_prev"/>
{% endif %}
{% if konsole_key_set_encoding != '' %}
  <Action shortcut="{{ konsole_key_set_encoding }}" name="set-encoding"/>
{% endif %}
{% if konsole_key_rename_session != '' %}
  <Action shortcut="{{ konsole_key_rename_session }}" name="rename-session"/>
{% endif %}
{% if konsole_key_copy_input_to_all_tabs != '' %}
  <Action shortcut="{{ konsole_key_copy_input_to_all_tabs }}" name="copy-input-to-all-tabs"/>
{% endif %}
{% if konsole_key_copy_input_to_selected_tabs != '' %}
  <Action shortcut="{{ konsole_key_copy_input_to_selected_tabs }}" name="copy-input-to-selected-tabs"/>
{% endif %}
{% if konsole_key_copy_input_to_none != '' %}
  <Action shortcut="{{ konsole_key_copy_input_to_none }}" name="copy-input-to-none"/>
{% endif %}
{% if konsole_key_copy_input_to != '' %}
  <Action shortcut="{{ konsole_key_copy_input_to }}" name="copy-input-to"/>
{% endif %}
{% if konsole_key_zmodem_upload != '' %}
  <Action shortcut="{{ konsole_key_zmodem_upload }}" name="zmodem-upload"/>
{% endif %}
{% if konsole_key_monitor_activity != '' %}
  <Action shortcut="{{ konsole_key_monitor_activity }}" name="monitor-activity"/>
{% endif %}
{% if konsole_key_monitor_silence != '' %}
  <Action shortcut="{{ konsole_key_monitor_silence }}" name="monitor-silence"/>
{% endif %}
{% if konsole_key_enlarge_font != '' %}
  <Action shortcut="{{ konsole_key_enlarge_font }}" name="enlarge-font"/>
{% endif %}
{% if konsole_key_shrink_font != '' %}
  <Action shortcut="{{ konsole_key_shrink_font }}" name="shrink-font"/>
{% endif %}
{% if konsole_key_send_signal != '' %}
  <Action shortcut="{{ konsole_key_send_signal }}" name="send-signal"/>
{% endif %}
{% if konsole_key_sigstop_signal != '' %}
  <Action shortcut="{{ konsole_key_sigstop_signal }}" name="sigstop-signal"/>
{% endif %}
{% if konsole_key_sigcont_signal != '' %}
  <Action shortcut="{{ konsole_key_sigcont_signal }}" name="sigcont-signal"/>
{% endif %}
{% if konsole_key_sighup_signal != '' %}
  <Action shortcut="{{ konsole_key_sighup_signal }}" name="sighup-signal"/>
{% endif %}
{% if konsole_key_sigterm_signal != '' %}
  <Action shortcut="{{ konsole_key_sigterm_signal }}" name="sigterm-signal"/>
{% endif %}
{% if konsole_key_sigusr1_signal != '' %}
  <Action shortcut="{{ konsole_key_sigusr1_signal }}" name="sigusr1-signal"/>
{% endif %}
{% if konsole_key_sigusr2_signal != '' %}
  <Action shortcut="{{ konsole_key_sigusr2_signal }}" name="sigusr2-signal"/>
{% endif %}
{% if konsole_key_fullscreen != '' %}
  <Action shortcut="{{ konsole_key_fullscreen }}" name="fullscreen"/>
{% endif %}
</ActionProperties>
</kpartgui>
