[Shortcuts]
activate-menu={{ konsole_key_activate_menu }}
add_bookmark={{ konsole_key_add_bookmark }}
add_bookmarks_list={{ konsole_key_add_bookmarks_list }}
adjust-history={{ konsole_key_adjust_history }}
clear-history-and-reset={{ konsole_key_clear_history_and_reset }}
clear-history={{ konsole_key_clear_history }}
clone-tab={{ konsole_key_clone_tab }}
close-session={{ konsole_key_close_session }}
close-window={{ konsole_key_close_window }}
copy-input-to-all-tabs={{ konsole_key_copy_input_to_all_tabs }}
copy-input-to-none={{ konsole_key_copy_input_to_none }}
copy-input-to-selected-tabs={{ konsole_key_copy_input_to_selected_tabs }}
copy-input-to={{ konsole_key_copy_input_to }}
detach-tab={{ konsole_key_detach_tab }}
detach-view={{ konsole_key_detach_view }}
edit_bookmarks={{ konsole_key_edit_bookmarks }}
edit_copy={{ konsole_key_edit_copy }}
edit_find_next={{ konsole_key_edit_find_next }}
edit_find_prev={{ konsole_key_edit_find_prev }}
edit_find={{ konsole_key_edit_find }}
edit_paste={{ konsole_key_edit_paste }}
edit-current-profile={{ konsole_key_edit_current_profile }}
enlarge-font={{ konsole_key_enlarge_font }}
expand-active-view={{ konsole_key_expand_active_view }}
file_print={{ konsole_key_file_print }}
file_save_as={{ konsole_key_file_save_as }}
focus-view-above={{ konsole_key_focus_view_above }}
focus-view-below={{ konsole_key_focus_view_below }}
focus-view-left={{ konsole_key_focus_view_left }}
focus-view-right={{ konsole_key_focus_view_right }}
fullscreen={{ konsole_key_fullscreen }}
help_about_app={{ konsole_key_help_about_app }}
help_about_kde={{ konsole_key_help_about_kde }}
help_contents={{ konsole_key_help_contents }}
help_donate={{ konsole_key_help_donate }}
help_report_bug={{ konsole_key_help_report_bug }}
help_whats_this={{ konsole_key_help_whats_this }}
last-tab={{ konsole_key_last_tab }}
last-used-tab-reverse={{ konsole_key_last_used_tab_reverse }}
last-used-tab={{ konsole_key_last_used_tab }}
manage-profiles={{ konsole_key_manage_profiles }}
maximize-current-terminal={{ konsole_key_maximize_current_terminal }}
monitor-activity={{ konsole_key_monitor_activity }}
monitor-silence={{ konsole_key_monitor_silence }}
move-tab-to-left={{ konsole_key_move_tab_to_left }}
move-tab-to-right={{ konsole_key_move_tab_to_right }}
new-tab={{ konsole_key_new_tab }}
new-window={{ konsole_key_new_window }}
next-tab={{ konsole_key_next_tab }}
open-browser={{ konsole_key_open_browser }}
options_configure_keybinding={{ konsole_key_options_configure_keybinding }}
options_configure_notifications={{ konsole_key_options_configure_notifications }}
options_configure={{ konsole_key_options_configure }}
options_show_menubar={{ konsole_key_options_show_menubar }}
paste-selection={{ konsole_key_paste_selection }}
previous-tab={{ konsole_key_previous_tab }}
rename-session={{ konsole_key_rename_session }}
reset-font-size={{ konsole_key_reset_font_size }}
select-all={{ konsole_key_select_all }}
select-line={{ konsole_key_select_line }}
send-signal={{ konsole_key_send_signal }}
set-encoding={{ konsole_key_set_encoding }}
shrink-active-view={{ konsole_key_shrink_active_view }}
shrink-font={{ konsole_key_shrink_font }}
sigcont-signal={{ konsole_key_sigcont_signal }}
sighup-signal={{ konsole_key_sighup_signal }}
sigint-signal={{ konsole_key_sigint_signal }}
sigkill-signal={{ konsole_key_sigkill_signal }}
sigstop-signal={{ konsole_key_sigstop_signal }}
sigterm-signal={{ konsole_key_sigterm_signal }}
sigusr1-signal={{ konsole_key_sigusr1_signal }}
sigusr2-signal={{ konsole_key_sigusr2_signal }}
split-view-left-right={{ konsole_key_split_view_left_right }}
split-view-top-bottom={{ konsole_key_split_view_top_bottom }}
switch_application_language={{ konsole_key_switch_application_language }}
toggle-two-tabs={{ konsole_key_toggle_two_tabs }}
view-readonly={{ konsole_key_view_readonly }}
zmodem-upload={{ konsole_key_zmodem_upload }}
switch-to-tab-0={{ konsole_key_switch_to_tab_0 }}
switch-to-tab-1={{ konsole_key_switch_to_tab_1 }}
switch-to-tab-2={{ konsole_key_switch_to_tab_2 }}
switch-to-tab-3={{ konsole_key_switch_to_tab_3 }}
switch-to-tab-4={{ konsole_key_switch_to_tab_4 }}
switch-to-tab-5={{ konsole_key_switch_to_tab_5 }}
switch-to-tab-6={{ konsole_key_switch_to_tab_6 }}
switch-to-tab-7={{ konsole_key_switch_to_tab_7 }}
switch-to-tab-8={{ konsole_key_switch_to_tab_8 }}
switch-to-tab-9={{ konsole_key_switch_to_tab_9 }}
switch-to-tab-10={{ konsole_key_switch_to_tab_10 }}
switch-to-tab-11={{ konsole_key_switch_to_tab_11 }}
switch-to-tab-12={{ konsole_key_switch_to_tab_12 }}
switch-to-tab-13={{ konsole_key_switch_to_tab_13 }}
switch-to-tab-14={{ konsole_key_switch_to_tab_14 }}
switch-to-tab-15={{ konsole_key_switch_to_tab_15 }}
switch-to-tab-16={{ konsole_key_switch_to_tab_16 }}
switch-to-tab-17={{ konsole_key_switch_to_tab_17 }}
switch-to-tab-18={{ konsole_key_switch_to_tab_18 }}
